# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDE
.vscode/
.idea/

# Build artifacts
build/
dist/
*.spec
*.exe

# Database/Local Data
gmail_tags.json
gmail_watchlist.json
gmail_credentials.json
